<nav class="navbar navbar-expand-sm navbar-light bg-light sticky-top">
    
    <div class="collapse navbar-collapse" id="collapsibleNavId">
      
      <form class="form-inline my-2 my-lg-0">
        
        <input (keyup)="onChangePhrase($event)"  class="form-control mr-sm-2" type="text" placeholder="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </nav>

<div class="container-fluid">
    <h1>Kiemelt termékek</h1>
    <div class="row">
        <app-lapozo [productK]="kiemeltList"></app-lapozo>
    </div>
    
</div>
<app-product-list [kategoria1]="kategoria1List" [phraseString]="phrase"></app-product-list>
