<div class="container">
    <div class="row">
        <div class="col-12 col-md-3 lg-2" *ngFor="let product of products">
            <app-product-card [product]="lapozoList[0]"></app-product-card>
        </div>
        <div class="col-12 col-md-3 lg-2">
            <app-product-card [product]="lapozoList[1]"></app-product-card>
        </div>
        <div class="col-12 col-md-3 lg-2">
            <app-product-card [product]="lapozoList[2]"></app-product-card>
        </div>
        <div class="col-12 col-md-3 lg-2">
            <app-product-card [product]="lapozoList[3]"></app-product-card>
        </div>
        <div class="col-12 col-md-3 lg-2">
            <app-product-card [product]="lapozoList[4]"></app-product-card>
        </div>

    </div>
</div>