<div class="card">
    <img [src]="" class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">{{product.name}}</h5>
        <p class="card-text">{{product.description}}</p>
        <p class="card-text">Raktáron: {{product.stock}}</p>
        <p class="card-text">Ár: {{product.price}}</p>
        <p class="card-text">{{product.featured}}</p>
        <p class="card-text">{{product.active}}</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
</div>
